body {
  margin-top: -4px;
  margin-left: 0px;
  margin-right: 0px;
}

form {
  display: inline-flex;
  height: 461px;
  width: 646px;
  margin: 0px;
  padding: 0px;
}

table {
  background-color: rgb(192 218 232 / 97%);
  height: 474px;
  width: 646px;
  display: inline-flex;
  justify-content: center;
  line-height: 46px;
}

.formhead {
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: -14px;
  /*! text-shadow: 6px 1px 5px #1c89d9 ; */
  color: rgb(12, 64, 187);
}

.inputt {
  border: 1px rgb(190, 31, 31) solid;
  border-radius: 8px;
  height: 33px;
  width: 431px;
  background-color: rgb(251, 253, 255);
  font-size: 18px;
  font-family: unset;
  /*!box-shadow: 6px 7px 13px 1px #312424; */
}

.signupbtn {
  height: 33px;
  width: 439px;
  border-radius: 16px;
  background-color: rgb(12, 64, 187);
  color: white;
}
td {
  text-align: center;
  color: rgb(28, 13, 184);
}
